.boox {

    postion: relative;

    height: 80px;

    width: 80px;

    border: 6px solid grey;

    border-top-color: red;
    border-left-color: red;
    border-rigth-color: red;

    animation: spin 1s linear infinite;

    aling-item: center;
    margin-left: 45%;
    border-radius: 50%;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}